<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="text-danger mb-4">¡Error!</h3>
                <p class="lead mb-4"><%= error %></p>
                <a href="/products" class="btn btn-primary">Volver al inicio</a>
            </div>
        </div>
    </div>
</div> 